/* HTML Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
  min-width: 300px;
  padding: 0;
  margin: 0;
  width:100%;
  background: hsl(201, 91%, 14%) url('/tile.png') repeat;
  color: #f0f4f8;
  font-size: 16px;
}

main {
  display:flex;
  align-items: stretch;
}

a:link {
  color: hsl(201, 99%, 60%);
  text-decoration: none;
}

a:visited {
  color: hsl(201, 50%, 55%);
}
a:active {
  color: hsl(201, 10%, 60%);
}
a:hover {
  color: hsl(201, 99%, 70%);
}

.wrapper {
	max-width:1400px;
	box-shadow: 0px 0px 60px #0d0d1d;
	margin: 0 auto;
}
nav {
  background: hsl(201, 99%, 8%);
  max-width: 350px;
}

nav ul li a:link {
  display:block;
  text-align: center;
  color: hsl(201, 5%, 98%);
  text-decoration: none;
  letter-spacing: 1px;
  font: small-caps 700 1.85rem Helvetica, Arial, sans-serif;
  line-height: 1.75em;
  text-shadow: 1px 1px 0 #000;
}
nav ul li a:hover {
  background: hsl(201, 29%, 20%);
  color: #fff;
}
nav ul li a:active {
  background: hsl(201, 29%, 17%);
  color: hsl(201, 5%, 79%);
}
nav ul li a:visited {
  color: hsl(201, 5%, 79%);
}
nav p {
  font: 1.1rem Helvetica, Arial, sans-serif;
  color: hsl(201, 5%, 70%);
  padding: 1.5em 0 1.5em 1em;
  text-shadow: 1px 1px 0 #000;
  letter-spacing: 0.4px;
}
section {
  width: 100%;
  background: hsl(201, 90%, 7%);
}
section ul {
  position:relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  overflow:hidden;
}
section ul li {
  position:relative;
  flex-grow: 1;
  background: no-repeat center center;
  background-size: auto 100%;
  transition: 0.3s background-size;
}
section ul li a:link {
  display:block;
  min-width:300px;
  height:400px;
  background: rgba(0,0,0,0.0);
  transition: 0.3s background-color;
  user-select: none;
  margin: 0 auto;
  transform: translateZ(0px);
}
section ul li a:hover {
  background: rgba(0,0,0,0.4);
}
section ul li p {
  display: block;
  position: absolute;
  top: 70%;
  text-align: center;
  width: 100%;
  pointer-events:none;
}
section ul li p span {
  font: 700 1.65rem "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  padding: 0.8rem 1.7rem;
  white-space: nowrap;
  background: rgba(0,0,0,0.8);
  text-shadow: 1px 1px 0px #000;
  border: 1px #000 solid;
  border-radius: 0.4rem;
  user-select: none;
  color: hsl(201, 5%, 89%);
  transition: 0.3s all;
}

section ul li:hover p span {
  color: #fff;
  background: rgba(0,0,0,0.88);
}

h3, h4 {
  font: 700 2.5rem "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  padding: 0.9rem 0.4rem 0 0.4rem;
}

hr {
  height: 1px;
  border: 0;
  border-bottom: 1px hsl(201, 90%, 12%) solid;
  background: #000;
}

h4 a:link, h4 a:visited {
  color: #fff;
  text-decoration: none;
}
h4 a:hover {
  color: #ddd;
}
section .product {
  max-width: 900px;
  padding: 0 1.25em;
  margin: 1.5em auto 1.5em auto;
  font: 1rem/1.44rem Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
  text-align: center;
}
section .product p {
  margin: 1.1em 0;
  text-align: left;
}
section .product p em, section .product p i {
  font-style: italic;
}
section .product p strong, section .product p b {
  font-weight: 700;
}
section.item {
  text-align: center;
  padding-bottom: 1.2rem;
}

section.item img {
  width: 100%;
  max-width: 600px;
  border: 0;
}

section.item div {
  max-width: 600px;
  padding: 1.25rem 0.5rem;
  margin: 0 auto;
  font: 1.1rem Helvetica, Arial, sans-serif;
}

.back {
  display:inline-block;
  background: hsl(201, 99%, 12%);
  border: 1px solid hsl(201, 99%, 20%);
  border-radius: 6px;
  padding: 0.6rem;
  font: 1rem Helvetica, Arial, sans-serif;
}
a.back:link, a.back:visited {
  color: #cccccf;
  text-decoration: none;
}
section.item .display {
  display: block;
  background: hsl(201, 99%, 2%);
}
footer {
  font: 0.8em Helvetica, Arial, sans-serif;
  background: hsl(201, 99%, 8%);
  padding: 2em;
  color: hsl(201, 5%, 70%);
  
}
footer p {
  margin-top: 1em;
}

h1 {
  padding:  1.5em 1em 0.75em 1em;
  text-align: center;
}

@media (max-width: 950px) {
main {
  display:block;
}
nav {
  max-width:inherit;
}
}