{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<section class="item">
  <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}"/>
  <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
  <meta itemprop="headline" content="{{ .Title }}">
  <meta itemprop="description" content="{{ .Summary }}">
  <meta itemprop="url" content="{{ .Permalink }}">
  
  <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  <a href="{{ $.Site.BaseURL }}{{ .Params.image }}" class="display"><img src="{{ $.Site.BaseURL }}{{ .Params.image }}" alt="{{.Title}}"/></a>
  <div>{{ .Content }}</div>
  {{ $section := .Section }}
  {{ range first 1 .Params.products }}
  <a class="back" href="{{ $.Site.BaseURL}}/{{$section}}/{{.}}">&laquo; Back to {{. | humanize | title}}</a>
  {{ end }}
</section>
{{ partial "foot.html" . }}
