{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<section>
<h3>{{.Title}}</h3>
<hr/>
<div class="product">{{.Content }}</div>
<ul>
  {{ range .Data.Pages }}
  <li style="background-image: url('{{ .Site.BaseURL }}{{ .Params.image }}')"><a href="{{.Permalink}}"></a><p><span>{{.Title}}</span></p></li>
  {{ end }}
</ul>
  <div class="product"><a class="back" href="{{ $.Site.BaseURL}}">&laquo; Back to {{.Section | humanize | title}}</a></div>
</section>
{{ partial "foot.html" . }}