{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<section>
<ul>
  {{ range where .Site.Pages "Kind" "taxonomy" }}
  <li style="background-image: url('{{ .Site.BaseURL }}{{ .Params.image }}')"><a href="{{.Permalink}}"></a><p><span>{{.Title}}</span></p></li>
  {{ end }}
</ul>
</section>
{{ partial "foot.html" . }}