{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<section class="item">
  <meta itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" content="{{ .Site.BaseURL }}"/>
  <meta itemprop="dateModified" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">
  <meta itemprop="headline" content="{{ .Title }}">
  <meta itemprop="description" content="{{ .Summary }}">
  <meta itemprop="url" content="{{ .Permalink }}">
  
  <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
  <div>{{ .Content }}</div>
</section>
{{ partial "foot.html" . }}
