</main>
<footer>
{{ $.Site.Params.footer | markdownify}}
<p>{{ .Site.Author.name }} &copy;{{ $.Site.LastChange.Year }} | <a href="{{ .Site.BaseURL }}sitemap.xml">Sitemap</a> | <a href="{{ .Site.BaseURL }}index.xml">RSS Feed</a></p>
</footer>
</div>
</body>
</html>