
<main>
<nav>
<h1><img src="{{ .Site.BaseURL}}header-300x83.png" /></h1>
<ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a></li>
      {{end}}
</ul>
<p>{{ $.Site.Params.description | markdownify}}</p>
</nav>